<nav class="bg-deco px-8 flex gap-8 text-lg justify-end ">

    <a class="hover:bg-deco-600 rounded-md"  href="index.html">Home Page</a>
    <a class="hover:bg-deco-600 rounded-md"  href="contacts.html">Contacts</a>
    <a class="hover:bg-deco-600 rounded-md"  href="products.html">Products</a>
    <a class="hover:bg-deco-600 rounded-md"  href="programs.html">Programs</a>
    <a class="hover:bg-deco-600 rounded-md"  href="feedback_page.html">FeedBack</a>
    <a class="hover:bg-deco-600 rounded-md"  href="information page.html">Information</a>

</nav>
<img src="/src/assets/logo.png" class="rounded-4xl w-[150px]">